* {
    box-sizing: border-box;
}

/* Added box-set*/
.box-set {
    background: lightgray;
}

body {
    font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
    height: 100%;
    margin: 0 auto;
}

#cardImage {
    width:100%;
    max-height:220px;
}

.card-title {
    color: #36454f;
    font-weight: bold;
}
/* remove padding on navbar where name goes*/
.navbar {
  padding: 0;
}

/*this will move the navbar text to the right*/
#navbarSupportedContent {
    margin-left: 650px;
 }

 /* styling to the h2 in contact page*/
#headerTwoText {
    color: #4aaaa5;
}

/* defined the container properties*/
.container {
    padding:24px;
    font-size: 20px;
    line-height: 28px;
    background: #ffffff;
    margin: 0 auto;
    border:solid 24px;
    border-color: lightgray;
}

#navbarheader {
    font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
    font-weight: bold;
    background: #4aaaa5;
    color: #ffffff;
    margin-left: 21.60%;
    padding: 32px;
   
}

/* This is intended to make the navbar float rigth*/
.navlink {
    float:left;
    padding: 24px;
    list-style-type: none;
 }

 /*Add padding and border to paragraphs with class of "context"*/
 .context {
   padding:1.5px;
   border: 1.5px;
}

/*indent the first sentence in first paragraph*/
 #firstP:first-letter {
    margin-left: 2em;
}

/*format the second container where horizontal and footer exist*/
 #container2 {
    text-align: center;
    background: #666666;
    width: 100%;
    bottom: 0;
    clear: both;
    position: fixed;
}

 #container-line {
    position: absolute;
    background: #4aaaa5;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    bottom:4px;  
 }

 #footer {
    background: #666666;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}


/* media query to align the text to center and give margin */
@media screen and (max-width: 1439px) {
    .col-md-3 {
        text-align: center;
    }
    #navbarSupportedContent{
        margin-left: 10px;
    }
}
 /* media query to align the text to center and give margin */   
 @media screen and (max-width: 767px) {
    .col-md-3 {
        text-align: center;
    }
 }

 
/* media query to align the text to center and give margin */
 @media screen and (min-width: 320px) {
    .col-md-3 {
        text-align: center;
     }
}
