* {
    box-sizing: border-box;
}

/* Added box-set*/
.box-set {
    background: lightgray;
}

body {
    font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
    height: 100%;
    margin: 0 auto;
}

/* Added color to navbar*/
.navbar {
    background: #ffffff!important;
    padding: 0!important;
}

/* .navbar-nav mr-auto {
    padding-right: 100px!important;
} */

#navbarText {
    margin-left: 500px;
    
}

/* Defined the container width*/
.container {
    position: relative;
    padding-top:24px;
    font-size: 20px;
    line-height: 28px;
    background: #ffffff;
    margin: 0 auto;
    border:solid 24px;
    border-color: lightgray!important;
}

#navbarheader {
    font-family:'Georgia', 'Times', 'Times New Roman', 'serif';
    font-weight: bold;
    background: #4aaaa5;
    color: #ffffff;
    margin-left: 21.60%!important;
    padding: 32px;
    position: relative;
}

/* This is intended to make the navbar float rigth*/
.navlink {
    float:left;
    padding: 24px;
    list-style-type: none;
 }

 p {
   padding-left:35px;
 }

 #container2 {
    text-align: center;
    background: #666666;
    width: 100%;
    bottom: 0;
    clear: both;
    position: fixed;
}

 #container-line {
    position: absolute;
    background: #4aaaa5;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    bottom:4px;  
 }

 #footer {
    background: #666666;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 1439px) {
    /* Align the text to center and give margin */
    .col-md-3 {
        text-align: center;
    }
     /* .col-md-9 {
        margin: 1px!important;
       
    } */
    /* The container's width will be 600px */
    /* .container {
        
        
        clear: both;
    } */
     /* Align the name */
    /*.navbarheader {
        margin-left: 5%!important;
    }*/
    /* .navbar-text {
        padding-right: 100px!important;
    } */
    #navbarText {
        margin-left: 300px;
        
    }
}
    
 @media screen and (max-width: 767px) {
    /* Align the text to center and give margin */
    .col-md-3 {
        text-align: center;
    }
     /* .col-md-9 {
        margin: 1px!important;
        font-size: .90em!important;
    } */
    /* The container's width will be 600px */
 
     /* Align the name */
    /* .navbarheader {
        margin-left: 15%!important;
    }
    .navbar-text {
        padding-right: 100px!important;
    } */
   /*Ask about image size*/
}

 @media screen and (min-width: 320px) {
    /* Align the text to center and give margin */
    .col-md-3 {
        text-align: center;
        /* margin: 25px; */
        position: relative;
        
    }
  
  
    
     /* The container's width will be 3500px */
 
    /* Align the name */
   .navbarheader {
        margin-left: 10%!important;
    }
    .navbar-text {
        padding-right: 10px!important;
    }
}